{% extends 'core/base.html' %}
{% block content %}
<!--<h1 class="h3 mb-4 text-gray-800">This is Employee Home!</h1>-->

{% if messages %}
    {% for message in messages %}
    <div class="text-center alert alert-{{ message.tags }}">
        {{ message|safe }}
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    </div>
    {% endfor %}
{% endif %}

<div class="container my-3" style="overflow: auto">
    <h4 style="text-align: center;">Pin History</h4>
    <table class="table table-bordered dataTable" width="100%" cellspacing="0" role="grid"
        aria-describedby="dataTable_info" style="width: 100%;">
        <thead>
            <tr role="row">
                <th>ID</th>
                <th>PIN</th>
                <th>Amount</th>
                <th>Created At</th>
                <th>Refund Date</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <tbody>
                        {% for pin in data %}
                        <tr>
                            <td>{{ pin.id }}</td>
                            <td><small class="text-muted">{{ pin.pin }}</small></td>
                            <td><small class="text-muted">{{ pin.amount }}</small></td>
                            <td><small class="text-muted">{{ pin.created_at }}</small></td>
                            <td><small class="text-muted">{{ pin.refund_date }}</small></td>
                            <td><small class="text-muted">{{ pin.status }}</small></td>
                            {% if pin.status == 'not used' %}
                            <!-- <td><small class="text-muted"><a class="btn btn-block btn-primary" type="submit" href="#">Refund</a></small></td> -->
                            <td>
                                <small class="text-muted">
                                    <!-- <button type="button" class="bs-modal btn btn-primary btn-user btn-block" id="update-pin"
                                        data-toggle="modal" data-target="#PinRefundModal"
                                        data-form-url="{% url 'pin-refund' pin.id %}">
                                        Refund
                                    </button> -->
                                    <button id="update_pin" class="bs-modal btn btn-block btn-primary update_pin" type="button" 
                                    name="button" data-form-url="{% url 'pin-refund' pin.id %}">
                                        Refund
                                    </button>
                                </small>
                            </td>

                            {% else %}
                            <td>
                                <small class="text-muted"></small><button class="btn btn-block btn-primary" disabled
                                    type="submit">Refund</button>
                                </small>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                        
                          
                    </tbody>
                </div>
            </div>
        </article>
    </table>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1" class="btn btn-danger">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-primary">previous</a>
            {% endif %}

            <span class="current btn btn-success">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-primary">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-danger">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>

{% endblock %}

{% block model %}

<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
      // Read book buttons
      $(".update_pin").each(function () {
        $(this).modalForm({formURL: $(this).data("form-url")});
    });
    });
  </script>


{% endblock %}