{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<a class="ml-5 btn btn-primary" href="{% url 'upload-docs' %}">Upload Documents</a>

<div class="col-lg-7 container">
    <div class="p-10 my-3">
      <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">Edit Profile Picture</h1>
      </div>
      <div style="justify-content: center; display:flex;">
      {% if user.image %}
                <img src="{{ user.image.url }}" />
                {% else %}
                <img src="https://source.unsplash.com/QAB-WJcbgJk/60x60"/>
                {% endif %}
        </div>
      <form class="user" method="POST" novalidate enctype="multipart/form-data">
        {% csrf_token %}
          {{ form|crispy }}
        <hr>
        <button type="submit" class="btn btn-primary btn-user btn-block">
          Update
        </button>
        <a href="#" class="btn btn-danger btn-user btn-block">
          Cancel
        </a>
      </form>
    </div>
</div>
{% endblock %}